<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Tutorial Vue</title>
    <link rel="stylesheet" href="./assets/styles.css" />
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>{{ titulo }}</h1>
      <p>{{ descripcion }}</p>
      
      <div class="cart">{{ carro + ' productos'}}</div>

      <p v-if="stock > 5">Disponible</p>
      <p v-else-if="stock > 0">Últimas Unidades!!</p>
      <p v-else>No disponible</p>
      
      <ul>
        <li v-for="detalle in detalles">{{detalle}}</li>
      </ul>

      <p v-if="oferta && stock>0">OFERTAAA!!!</p>

      <div  class="product-image">
        <a :href="url"><img :src="imagen" title="Calcetin azul" :class="{'out-of-stock-img': stock == 0}"></a>
      </div>
      <div v-for="(color,indice) in colores" :key="color.id" @mouseover="actualizarImagen(color.imagen)" class="color-circle" :style="{backgroundColor: color.color}"></div>

      <button class="button" @click="anadirCarro" :disabled="stock == 0" :class="{disabledButton: stock == 0}">¡Comprar!</button>
      <button class="button" @click="eliminarCarro">Eliminar Item</button>
    </div>
    <script src="./main.js"></script>
  </body>
</html>
